img{
    float: left;
    margin-right: 10px;
}
#fstar{
    margin-left: -12px;
}
p{
    clear:left;
}
button{
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
    background-color: hsl(0, 10%, 83%);
}
button:hover{
    background-color:hsl(0, 10%, 56%);
    cursor:pointer;
}